<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Deibrillatori Philips" %></title>

    <% if current_page.data.metadata  %>
        <meta name="description" content="<%= current_page.data.metadata.description %>" />
    <% end %>

    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <meta name="prismic-api" content="https://philips-defibrillatori.prismic.io/api">


    <% if current_page.data.headCode  %>
        <%= current_page.data.headCode %>
    <% end %>

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
        <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->


  </head>
<body class="blog <%= page_classes %>">

<!-- codice ANALITYCS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-111492-6', 'auto');
  ga('send', 'pageview');

</script>

</script>

<!-- Nav Bar -->
<div class="contain-to-grid menu">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <!--http://lh6.googleusercontent.com/-34YbdpE2f6c/U0025W216cI/AAAAAAAAlzE/-OIpzXG15X4/w160-h60-no/logo.png -->
                <a href="/"><img alt="Rexite" src="http://www.rexite.it/img/logo.png"></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><%#= link_to 'Defibrillatori Philips', '/' %></li>
                <li><%= link_to 'Online Store', 'http://eu.rexitestore.com/' %></li>
                <li><%= link_to 'Corporate', 'http://www.rexite.it/' %></li>
            </ul>
        </section>
    </nav>
</div>


<%= yield %>

<footer class="row">
    <hr>
        <div class="row">
            <div class="large-2 medium-2 small-6 columns">
                <img alt="Defibrillatori Philips" src="http://lh6.googleusercontent.com/-znUVyJZm73E/U3mY94YJ0WI/AAAAAAAAmRo/JR4IpRmwXHg/h61-no/distributore_ufficiale.png">
            </div>

            <div class="large-4 medium-4 columns hide-for-small">
                <h6 class="subheader">PERCHÈ DOTARSI DI DEFIBRILLATORE</h6>
                <ul>
                    <li><strong>Puoi salvare una vita</strong></li>
                    <li>Dai al tuo ambiente un'immagine sicura e positiva</li>
                    <li>Riduci il rischio di responsabilità civile</li>
                </ul>
            </div>

            <div class="large-3 medium-3 columns hide-for-small">
                <h6 class="subheader">OBBLIGATORIO PER LEGGE</h6>
                <p>
                    A partire dal 27 Aprile 2013 è OBBLIGATORIO per tutte le società sportive dotarsi di defibrillatori<br />
                    <%= link_to 'Cosa dice la legge', '/cosa-dice-la-legge' %>
                </p>

            </div>

            <div class="large-3 medium-3 small-6 columns end">
                <%= link_to '<img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">', '/iredeem' %></li>
                <br />
                <i>
                Via Cesare Boldrini 20<br />
                40121 Bologna<br />
                P.IVA: 10574970017</i><br />
                <!-- <i>Distributore Ufficiale</i> <img alt="Defibrillatori Philips" src="http://lh3.googleusercontent.com/-UfeQEuo1mqo/U0JAw1w1hPI/AAAAAAAAjLE/nxTVvN283RE/w70-no/mainlogo.gif"><br /> -->
                <p>
                    <%= link_to 'Chi siamo', '/iredeem' %>
                </p>


            </div>

        </div>
</footer>



<% if current_page.data.conversionCode  %>
    <%= current_page.data.conversionCode %>
<% end %>


<%= javascript_include_tag  "all" %>

<% if current_page.data.javacriptCode  %>
    <%= current_page.data.javacriptCode %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        var manageCampainObj = new manageCampain();
        manageCampainObj.doManage ();
    });
</script>



</body>


</html>