---
layout: home
title: Rexite
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>Grazie per averci contattati</h1>
                <h2>Ti risponderemo appena possibile!</h2>
metadata:
    description: Design Interior Accessories, Design Desktop Set, Design Coat Stand, Design Stainless Steel Wastebasket, Design Adjustable Bar Stools, Design Stacking Chairs, Design Contract Chairs.

---

<ul class="large-block-grid-2 medium-block-grid-2" data-equalizer>
<% page_articles.each_with_index do |article, i| %>
    <li>
        <article data-equalizer-watch>
            <% link_to article do %>
                <%= tag :img, :src => article.metadata[:page]["image"], :title => article.title %>
            <% end %>
            <%= partial("header_post", :locals => { :article => article}) %>
            <%= article.summary %>
        </article>
        <%= link_to 'Leggi tutto…', article %>
    </li>
<% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
